*{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

header{
    background-color: #EAC926;
    height: auto;
}

nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

main{
    background-color: #ebebeb;
    margin-top: 30px;
    padding: 20px;
}
footer{
    background-color: white;
}

.terminos{
    display: flex;
    align-items: center;
}


input{
    width: 500px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.lupa{
    background-color: white;
    position: absolute;
    height: 30px;
    width: 40px;
    border-radius: 0 5px 5px 0;
    margin: auto;
    cursor: pointer;
    border: none;
}

.buscador{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}

.categoria{
    display: flex;
    justify-content: space-between;
}

.Logo{
    width: 300px;
    margin-right: 0;
}

.Titulo{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.precios{
    font-size: 18px;
    width: 30%;
}

.descuento{
    font-size: 16px;
    width: 70%;
    display: flex;
    color: #39b54a;;
}

.descripcion{
    font-size: 16px ;
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    color: #b0acac;
}
.item li{
    text-decoration: none;
    margin-left: 15px;
    margin-right: 10px;
}

.item li a{
    text-decoration: none;
    color: black;
    padding-right: 5px;
}

.item{
    list-style-type: none;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.SmartTv{
    position: relative;
    width: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.SmartTv img{
    width: 100%;
    border-radius: 10px;
}

.Samsung-galaxy{
    position: relative;
    width: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Samsung-galaxy img{
    width: 100%;
    border-radius: 10px;
}

.Macbook{
    width: auto;
    text-align: center;
    border: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Macbook img{
    width: 100%;
    border-radius: 10px;
}

.cafetera{
    position: relative;
    width: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cafetera img{
    width: 100%;
    border-radius: 10px;
}

.copi h2{
    text-align: left;
    padding: 10px;
}

.A{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.B{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.C{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.fa-solid{
    font-size: 15px;
}

.fa-credit-card{
    font-size: 2em;
    color: #1259c3;
}

.fa-gift{
    font-size: 2em;
    color: #1259c3;
}

.fa-user-shield{
    font-size: 2em;
    color: #1259c3;
}

.texto-oscuro{
    font-size: 18px;
    color: #666;
}

.texto-claro{
    color: black;
}

.compra{
    text-align: center;
    padding: 10px;
}

.boton{
    padding-left: 20px;
}

.contenedor1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caja1{
    width: 250px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    border: 0;
}


.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -25px;
    color: #39b54a;
    cursor: pointer;
    animation: fa-truck 3s;
}

@keyframes fa-truck{
    0%{opacity: 0%;}
}


.margen{
    display: flex;
    border-top: 1px solid #39b54a;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

.preciocondescuento{
    display: flex;
    align-items: center;
    position: relative;
}

.contenedor2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.burger-menu{
    display: none;
}

.Registro{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}
.User input{
    margin-right: 40px;
}
.Fecha{
    margin-top: 15px;
    margin-right: 40px;
}
.Direcction{
    display: flex;
    align-items: flex-end;
}
.tipo{
    margin-top: 20px;
    width: 100%;
}
.tipo div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tipo div input{
    width: auto;
}
.division{
    width: 100%;
    margin-top: 20px;
}
.division h2{
    margin-bottom: 10px;
}
.interes{
    display: flex;
    align-items: center;
}
.imagen{
    margin-top: 20px;
    margin-bottom: 20px;
}
.clave input{
    margin-right: 40px;
}
.Botones{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.Botones button{
    width: 500px;
    height: 40px;
    background-color: #1259c3;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.Botones button a{
    text-decoration: none;
    color: white;
}

.sing{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.sing div{
    margin-top: 20px;
}
.envio button{
    width: 500px;
    height: 40px;
    background-color: #1259c3;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.envio button a{
    text-decoration: none;
    color: white;
}










@media (max-width: 361px){
    .categoria{
        display: none;
    }
    .buscador{
        justify-content: center;
    }
    .Logo{
        width: 150px;
    }
    nav{
        align-items: center;
    }
    input{
        width: 50%;
    }
    .lupa{
        position: absolute;
    }
    .fa-bars{
        color: white;
        font-size: 2em;
    }
    .burger-menu{
        display: flex;
        background-color: #1259c3;
        width: 10px;
        height: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .compra{
        padding: 20px;
    }

    .terminos{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .copi h2{
        text-align: left;
        padding: 10px;
    }
    .Registro{
        display: flex;
        flex-direction: column;
    }
    .User input{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .Fecha{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .Fecha h2{
        margin-bottom: 10px;
    }
    .Fecha input{
        width: 100%;
    }
    .Direcction input{
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
    }
    .tipo{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .tipo div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .tipo div input{
        width: auto;
    }
    .division{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #Electro{
        color: red;
    }
    .clave{
        margin-bottom: 10px;
    }
    .clave input{
        width: 100%;
        margin-top: 20px;
    }
    .imagen input{
        margin-top: 20px;
        width: 100%;
    }
    .Botones{
        display: flex;
        flex-direction: column;
    }
    .Botones button{
        background-color: #1259c3;
        border-radius: 5px;
        border: none;
        height: 40px;
        cursor: pointer;
        margin-top: 20px;
    }
    .Botones button a{
        color: white;
        text-decoration: none;
    }
    .nombre{
        width: 100%;
    }
    .nombre input{
        width: 100%;
    }
    .contra{
        width: 100%;
    }
    .contra input{
        width: 100%;
    }
    .envio{
        width: 100%;
    }
    .envio button{
        width: 100%;
        background-color: #1259c3;
        border-radius: 5px;
        border: none;
        height: 40px;
        cursor: pointer;
        margin-top: 20px;
    }
}


/*
@media (min-width: 769px){ tabled

}*/