<footer>
    <div class="terminos">
        <div class="A">
            <i class="fa-solid fa-credit-card"></i>
            <h2 class="texto-oscuro">Pagá con tarjeta o en efectivo</h2>
            <p class="texto-claro">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="A">
            <i class="fa-solid fa-gift"></i>
            <h2 class="texto-oscuro">Envío gratis desde $ 2.500</h2>
            <p class="texto-claro">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="A">
            <i class="fa-solid fa-user-shield"></i>
            <h2 class="texto-oscuro">Seguridad, de principio a fin</h2>
            <p class="texto-claro">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
    </div>
    <div class="copi">
        <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
    </div>
</footer>