<header>
    <nav>
        <div class="buscador">
            <img class="Logo" src="./img/logo-mercado-liebre.png" alt="logo">
            <form class="boton" action="" method="get">
                <input type="text" name="" id="" placeholder="Buecas productos, marcas"/>
                <button class="lupa" type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </form>

            <p class="compra"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="categoria">
            <ul class="item">
                <li><a href="">Ofertas</a></li>
                <li><a href="https://www.mercadolibre.com.ar">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li></li>
            </ul>
    
            <ul class="item">
                <li><a href="./register">Creá tu cuenta</a><i class="fa-solid fa-user"></i></li>
                <li><a href="./login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>